*{
	margin:0;
	padding:0;
}

body{
	font-family: arial, sans-serif;
  font-size: 14px;
	background:#ccc;

}

.contenedor{
	width:98%;
/*	max-width:1000px;*/
	margin:0 auto;
	background:#eee;
	overflow:hidden;
}



header{
	background:#c1c1c1;
	margin:20px 0;
}

header h1{
	color:#ff8000;
	padding:20px 0;
	text-align:center;
}

header h2{
	color:#ff8000;
	padding:20px 0;
	text-align:center;
}

header h3{
	color:#ff8000;
	padding:20px 0;
	text-align:center;
}

header h4{
	color:#ff8000;
	padding:20px 0;
	text-align:center;
}

.main{
	width:70%;
	min-height: 100%;
	background:#eee;
	padding:20px;
	float:left;
  box-sizing:border-box;
  padding-left:50px;
}

.main img{
	width:100%;
	height:auto;
}

aside{
	width:30%;
	padding:20px;
	box-sizing:border-box;
	background:#ccc;
  float:left;
  height:400px;
}

footer{
	clear:both;
	float:left;
	margin-top:20px;
	box-sizing:border-box;
	width:100%;
	padding:20px;
	color:#fff;
	background:#000;
  bottom: 15px;
}

#intro{
  height:400px;
}

#span_footer{
  padding-left:50px;
}

.card{
	/*position: absolute;	position: absolute;
	left:300px;*/
	margin: 0 auto;

  width: 450px;
  padding: 15px;
  border:1px solid #ccc;
  border-radius: 15px;
	box-shadow:0 0 3px #575757;

	background-color:#c1c1c1;
	z-index: 20;	
}

.card input{
	width:300px;
	border-radius: 5px;
	padding: 5px 8px;
}
.card textarea{
	width:300px;
	height:100px;
	border-radius: 5px;
	padding: 5px 8px;
}

.App {
  text-align: center;
}

.App-logo {
  /*animation: App-logo-spin infinite 20s linear;
  height: 40px;*/
  padding-top: 80px;
  padding-left: 50px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
/*
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
*/